html {
    width: 100%;
    height: 100%
}

body {
    width: 100%;
    min-height: 100%;
    margin: 0;
    background: linear-gradient(312deg, #000069, #820341, #721d14, #077771, #4d105f, #480961);
    background-size: 600% 600%;
    background-repeat: no-repeat;
    display: flex;
    font-family: product sans;
    font: product sans;
    font-family: play,sans-serif;
    font: play;
    animation: BgAnim 60s ease infinite;
}

@keyframes BgAnim {
    0% {
        background-position: 2% 0%
    }

    50% {
        background-position: 99% 100%
    }

    100% {
        background-position: 2% 0%
    }
}

.typed {
    color: var(--text-color);
    opacity: .8
}

.typed::after {
    content: '|';
    display: inline;
    animation: blink .7s infinite
}

@keyframes blink {
    0% {
        opacity: 1
    }

    50% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

.typed-cursor {
    opacity: 0;
    display: none
}

.center {
    justify-content: center;
    align-items: center;
    flex-direction: column
}

.info {
    min-width: 300px;
    width: 300px;
    display: flex;
    background: 0 0;
    padding: 35px;
    color: var(--text-color);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    box-shadow: 0 3px 12px 0 #3f383d
}

.buttons {
    min-width: 300px;
    width: 300px;
    display: flex;
    padding: 0;
    border-radius: 8px;
}

a.link {
    padding: 8px 20px;
    margin: 4px;
    background: var(--back-color);
    color: #fff;
    cursor: pointer;
    border-radius: 8px;
    width: 256px;
    text-align: center;
    text-decoration: none;
    transition: .2s;
    border: var(--border)
}

.avatar-container {
    margin: 0 .4em 0 0;
    display: inline-flex;
    justify-content: center;
    align-items: flex-end
}

.avatar {
    width: 10em;
    height: 10em;
    border-radius: 5.6em;
}

.names {
    position: relative;
    display: inline-flex;
    padding: .3em
}

a.link:hover, button:hover {
    background: #fff6;
    font-weight: bold;
    color: #6400c2
}

button:active, button:focus {
    outline: none
}

hr {
    border: none;
    margin-bottom: 5px;
    margin-top: 5px
}

h1 {
    font-family: raleway,sans-serif;
    font: raleway
}

h3 {
    font-family: raleway,sans-serif;
    font: raleway;
    font-style: normal;
    font-weight: 400;
    transition: .2ms;
}

h2 {
    font-family: raleway,sans-serif;
    font: raleway;
    font-size: larger;
    transition: .2ms;
}

#gitlink, #donate {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.65);
    z-index: 999;
    overflow: auto
}

.popup {
    top: 10%;
    left: 0;
    right: 0;
    font-size: 14px;
    margin: auto;
    width: 85%;
    min-width: 320px;
    max-width: 600px;
    position: absolute;
    padding: 15px 20px;
    border: 1px solid #383838;
    background: var(--over-color);
    color: var(--popup-text-color);
    z-index: 1000;
    border-radius: 14px;
    font: product sans;
    box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3)
}

input[type=button] {
    padding: 12px 20px;
    background: #730f7c;
    font-family: raleway;
    color: #fff;
    border: 0;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 2px
}

input[type=button]:hover {
    background: #550c5c
}

input[type=button]:active,input[type=button]:focus {
    outline: none
}

input[type=button]::-moz-focus-inner {
    border: 0
}

input[type=button]::-webkit-focus-inner {
    border: 0
}

.btn {
    -webkit-transition: .2s;
    -o-transition: .2s;
    -moz-transition: .2s;
    font-weight: bold;
    transition: .2s
}

.close-btn {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    position: absolute;
    top: -20px;
    right: 0px;
    z-index: 1;
    margin: 20px auto;
    cursor: pointer;
}

.close-btn:before {
    content: '+';
    color: #600782;
    position: absolute;
    z-index: 2;
    transform: rotate(45deg);
    font-size: 50px;
    line-height: 1;
    top: -6px;
    left: 8px;
    transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
}

.close-btn:after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background: #600782;
    z-index: 1;
    transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
    transform: scale(0.01);
}

.close-btn:hover:after {
    transform: scale(1);
}

.close-btn:hover:before {
    transform: scale(0.8) rotate(45deg);
    color: #fff;
}

a.nolink:active, a.nolink:hover, a.nolink {
    font-family: raleway,sans-serif;
    font: raleway;
    text-decoration: none;
    color: #666;
    outline: none;
    border: none
}
