:root {
    --name: KurimuzonAkuma;
    --text-color: #fff;
    --back-color: #fff3;
    --over-color: #fefefe;
    --popup-text-color: #000000;
    --border: none;
    --pasxalka: 'https://www.youtube.com/watch?v=_En5m2obLkU';
    --has-pasxalka-work: 'true'
}
